<h2> ユーザー情報を変更する　</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Eメール %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>

  <div class="field">
    <%= f.label :パスワード %> <i>(変更不要の場合は空白にして下さい)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>最低　<%= @minimum_password_length %> 文字</em>
    <% end %>
  </div>

  <br>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br>
  <div class="field">
    <%= f.label :現在のパスワード %> <i>(変更をするためには現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "変更" %>
  </div>
<% end %>

<br>

<h3>アカウントを削除する</h3>

<p> <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %></p>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to "戻る", "/" %>
</button>
