

<%= form_with(model: cost, local: true) do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "error") %> この支出は保存できません:</h2>

      <ul>
      <% cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="tablecost">

  <div class="field">
    <%= form.label :支出名 %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :金額 %>
    <br>
    <%= form.text_field :cost %>
  </div>

  <%= form.label :"種類" %>
  <br>
  <%= form.select :costkind, [["食費", "食費"], ["外食費", "外食費"], ["日用品", "日用品"], ["交通費", "交通費"], ["衣服", "衣服"], ["交際費", "交際費"],["趣味", "趣味"],["その他", "その他"]]  %>

  <div class="none">
   <div class="field">
     <%= form.label :user_id %>
     <%= form.text_field :user_id %>
    </div>
  </div>

<div class="but">
  <div class="actions">
   <%= form.submit %>
  </div>
  </div>
  <% end %>

  </div>
