<p id="notice"><%= notice %></p>


<div class="tablecost">

<p>
  <strong>支出名:</strong>
  <%= @cost.name %>
</p>

<p>
  <strong>金額:</strong>
  <%= @cost.cost %>
</p>

</div>

<button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '編集', edit_cost_path(@cost) %> </button>
<button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '戻る', costs_path %></button>
