<%= form_with(model: income, local: true) do |form| %>
  <% if income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income.errors.count, "error") %> この収入は保存できません:</h2>

      <ul>
      <% income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tablecost">

  <div class="field">
    <%= form.label :収入名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :金額 %>
    <%= form.text_field :income %>
  </div>

  <%= form.label :"種類" %>
  <%= form.select :incomekind, [["給料", "給料"], ["その他", "その他"]]  %>



  
 <div class="none">
   <div class="field">
     <%= form.label :user_id %>
     <%= form.text_field :user_id %>
   </div>
 </div>

  <div class="actions">
    <%= form.submit %>
  </div>
 <% end %>

  </div>