
<p id="notice"><%= notice %></p>

<h1>収入一覧</h1>

<div class="tablecost">

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>収入名</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.created_at.strftime('%Y/%m/%d')%></td>
        <td><%= income.name %></td>
        <td><%= income.income %></td>
        <td><button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '詳細', income %></button></td>
        <td><button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '編集', edit_income_path(income) %></button></td>
        <td><button type="button" class="btn btn-outline-primary btn-lg"><%= link_to '削除', income, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to '追加', new_income_path %>
</button>

<button type="button" class="btn btn-outline-primary btn-lg">
<%= link_to '戻る', 'nows#index' %>
</button>
